.contacts {
  &__title {
    text-align: center;
    font-size: 1.55rem;
    margin: 2rem 0rem;
    position: relative;
    span {
      font-size: 2rem;
    }
  }
  &__title:after {
    content: "";
    width: 44px;
    height: 2px;
    background: rgb(224, 6, 6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__content {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
       >p {
         text-align: center;
       }
      &-form {
        width: 100%;
        >input {
          margin: 1rem 0rem;
        }
        >button {
          background-color: #ffc402;
          color: white;
          display: block;
          width: 100%;
        }
        >p {
          margin: 1rem 0rem;
          text-align: center;
          font-size: .85rem;
          color: #999;
        }
      }
    }
  }
  &__bottom {
    &-text {
      text-align: center;
      font-size: .95rem;
    }
  }

  &__titles {
    margin: 2rem 0rem;
    >p {
      font-size: 1.45rem;
      text-align: center;
    }
  }
}