.mainModal {
  .close-m {
    position: absolute;
    z-index: 10;
    top: -27px;
    right: -39px;
    opacity: 1;
    line-height: 0.5;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    @media (max-width: 720px) {
      top: 5px;
      right: 8px;
      color: black;
    }
  }
  &__body {
    &-title {
      margin-top: .65rem;
      text-align: center;
      font-size: 1.85rem;
      font-weight: bold;
    }
    &-input {
      margin: 1rem 0rem;
      border: 1px solid #09b53e;
      border-radius: 1.7857142857rem;
    }
    &-button {
      color: white;
      background-color: red;
      border-radius: 25px;
      display: block;
      margin: 0rem auto;
      font-weight: bold;
    }
  }

}